# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
1.8.9/.gradle/
1.8.9/build/
1.8.9/gradle.properties
1.21.5/.gradle/
1.21.5/build/
1.21.5/gradle.properties

# other
eclipse
build-1.8.9.bat
build-1.21.5.bat
1.21.5/run/*
1.21.5/run/config/*
1.21.5/run/logs/*
1.21.5/run/saves/*
1.8.9/run/*
1.8.9/run/config/*
1.8.9/run/logs/*
1.8.9/run/saves/*